<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body >
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<nav class="navbar" style="background-color: azure">
  <div class="container">
    <a class="navbar-brand" href="#">Book Recommender </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommend">Recommend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <div class="container">
     <div class="row">
         <div class="col-12">
             <h1> Books List</h1>
         </div>

         {% for i in range(book_name|length) %}
         <div class="col-4" style="margin-top: 50px">
             <div class="card">
                 <div class="card" >
                     <img class="card-img-top"  src="{{image[i]}}">
                     <h5>{{book_name[i]}}</h5>
                     <h6>Author: {{author[i]}} </h6>
                     <h6>Votes:  {{votes[i]}}  </h6>
                     <h6>Rating: {{rating[i]}} </h6>

                 </div>
             </div>
         </div>
         {%endfor %}
     </div>
 </div>


</body>
</html>